.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    color: rgb(73, 71, 71);
    text-align: center;
    padding: 20px 20px;
}

h1 {
    color: rgb(73, 71, 71);
    text-align: left;
    font-size: 10;
    text-decoration: none;
    font: 1em "Oswald", sans-serif;
    color: rgb(95, 93, 93);
}