<ul>
    <li><a href="news.asp">Home</a></li>
    <li class="dropdown">
        <a href="about.asp" class="dropbtn">Personal reports</a>
        <div class="dropdown-content">
            <a href="#">Character</a>
            <a href="#">Prognozys</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="about.asp" class="dropbtn">Choose timing</a>
        <div class="dropdown-content">
            <a href="https://itanywhere-stm2.ra.ubs.com/vpn/itanywhere.html">Marriage</a>
            <a href="#">Start business</a>
        </div>
    </li>
    <li><a href="about.asp">Learn astrology</a></li>
    <li><a href="default.asp">Celebrities</a></li>
    <li><a href="news.asp">Global predictions</a></li>
    <li><a href="contact.asp">Community</a></li>
    <li><a href="about.asp">Store</a></li>
    <li class="dropdown">
        <a href="about.asp" class="dropbtn">About</a>
    </li>
</ul>