<ul>
    <li><a routerLink="">Home</a></li>
    <li class="dropdown">
        <a routerLink="/personal-reports" class="dropbtn">Personal reports</a>
        <div class="dropdown-content">
            <a routerLink="/character">Character</a>
            <a routerLink="/prognozys">Prognozys</a>
        </div>
    </li>
    <li class="dropdown">
        <a routerLink="/timing" class="dropbtn">Choose timing</a>
        <div class="dropdown-content">
            <a routerLink="/marriage">Marriage</a>
            <a routerLink="/start-business">Start business</a>
        </div>
    </li>
    <li><a routerLink="/learnastrology">Learn astrology</a></li>
    <li><a routerLink="/celebtities">Celebrities</a></li>
    <li><a routerLink="/globalpredictions">Global predictions</a></li>
    <li><a routerLink="/community">Community</a></li>
    <li><a routerLink="/store">Store</a></li>
    <li class="dropdown">
        <a routerLink="/about" class="dropbtn">About</a>
    </li>
</ul>